.wrapper {
  background: linear-gradient(
    46deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.08) 70.72%
  );
  border-radius: 8px;
  padding: 50px 80px;
  position: relative;
}

.joinCommunityImg {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media (max-width: 1200px) {
  .joinCommunityImg {
    position: absolute;
    bottom: 0;
    right: unset;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    opacity: 0.3;
    width: 50%;
  }

  .wrapper {
    background: linear-gradient(
      46deg,
      rgba(255, 255, 255, 0.1) 0%,
      rgba(255, 255, 255, 0.1) 70.72%
    );
    border-radius: 8px;
    padding: 50px 20px;
    position: relative;
    text-align: center;
    z-index: 10;
  }
}
