.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #00042ad3;
  z-index: 10000;
  opacity: 0;
  transition: all 0.3s ease;
  pointer-events: none;
  padding: 0 2rem;
}

.modalWrapper.show {
  opacity: 1;
  pointer-events: visible;
}

.Modal {
  max-width: 797px;
  width: 100%;
  background: #00042a;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 16px;
  padding: 48px 60px;
  position: relative;
  transition: all 0.3s ease;
  transform: scale(0.5);
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
}

.modalWrapper.show .Modal {
  transition-delay: 0.3s;
  opacity: 1;
  transform: scale(1);
  pointer-events: visible;
}

.section {
  display: flex;
  /* align-items: center; */
}

.left {
  max-width: 271px !important   ;
  margin-right: 40px;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.right > div {
  flex: 1;
}

.islandCardImg1 {
  width: 100%;
  margin-top: -40%;
}

.nftImg {
  width: 100%;
}

.timerCounts {
  width: 100%;
  background: linear-gradient(
    46deg,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0.08) 70.72%
  );
  box-shadow: inset -2px 3px 3px rgba(34, 255, 255, 0.1),
    inset 2px -3px 3px rgba(232, 90, 255, 0.15);
  border-radius: 16px;
  padding: 16px 24px;
}

.timerTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.stats > :not(:last-child) {
  margin-bottom: 2rem;
}

.stat {
  display: flex;
  align-items: center;
}

.statTitle {
  min-width: 5em;
  /* border: 2px solid red; */
}

.points > :not(:last-child) {
  margin-bottom: 1rem;
}

.metaMaskBtn {
  padding: 8px 32px;
  background: linear-gradient(91.33deg, #a764d8 1.28%, #5f9efb 99.29%);
  border-radius: 32px;
  display: flex;
  align-items: center;
}

.metaMaskBtn > img {
  margin-right: 12px;
}

.crossIcon {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

@media (max-width: 850px) {
  .section {
    flex-direction: column;
    align-items: center;
    flex: 1;
  }

  .left {
    max-width: 200px !important   ;
    /* height: 300px; */
    margin-right: 0px;
    margin-bottom: 30px;
    /* display: none; */
  }

  .nftImg img {
    height: 200px;
    object-fit: cover;
  }
  .right {
    width: 100%;
    flex: 1;
  }

  .right > div {
    width: 100%;
  }

  .price {
    justify-content: space-between;
  }

  .statTitle {
    min-width: fit-content !important;
  }

  .stat.include {
    flex-direction: column;
  }

  .stat.include > :not(:last-child) {
    margin-bottom: 1rem;
  }

  .metaMaskBtn {
    margin: 0 auto;
    margin-top: 2rem;
  }

  .modalWrapper {
    padding: 0 1rem;
    align-items: flex-end;
    padding-top: 2rem;
  }

  .Modal {
    padding: 30px 30px;
    height: 100%;
    transform: translateY(100vh) scale(1);
    transition: all 0.4s ease;
    overflow-y: scroll;
  }

  .Modal::-webkit-scrollbar {
    width: 0;
  }

  .modalWrapper.show .Modal {
    transition-delay: 0.3s;
    opacity: 1;
    pointer-events: visible;
    transform: translateY(0vh) scale(1);
  }

  .metaMaskBtn {
    padding: 8px 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .metaMaskBtn img {
    margin-right: 0.5rem;
  }
}
