.useLeaf {
  display: flex;
  align-items: center;
  background: linear-gradient(
    46deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 70.72%
  );
  box-shadow: inset -7px 6px 6px rgba(152, 89, 36, 0.2),
    inset 6px -6px 6px rgba(152, 89, 36, 0.2);
  border-radius: 44px;
  padding: 0.9em 1.2em;
}

.useLeaf > img {
  margin-right: 0.8em;
  width: 2.4em;
}
